.dropdown, .option-container{
    color: var(--font-color);
    background-color: var(--bg-light);
    box-shadow: 0px 1px 4px var(--gray);
    border: none;
    margin: 0;
    display: flex;
    width: fit-content;
    min-width: 100px;
    transition: 0.3s ease;
}

.dropdown{
    border-radius: 999px;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.dropdown:hover {
    background-color: var(--gray-light);
    box-shadow: none;
}

.dropdown:focus {
    outline: var(--primary-color);
}

.arrow-icon {
    transform: rotate(-90deg);
    transition: 0.3s ease-out;
}

.arrow-icon-open {
    transform: rotate(90deg);
}

.option-container {
    margin-top: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 40vh;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: translateY(-5%);
    pointer-events: none;
    padding: 10px;

    overflow-y: scroll;
    /* IE and Legacy Edge */
    -ms-overflow-style: none; 
    
    /* Firefox */
    scrollbar-width: none; 
}

/* Chrome, Safari, and Opera */
.option-container::-webkit-scrollbar {
  display: none; 
}

.option-container-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.option {
    padding: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: var(--gray-light);
}

.option-selected {
    background-color: var(--bg);
    pointer-events: none;
    cursor: default;
}