.study-plan-container { /* A grade que acomoda os planos de estudo da tela inicial */
    width: 100%;
    display: grid;
    margin: 60px 0px 60px 0px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 3rem 3rem;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

/* Tablet */
@media (max-width: 768px) {

        .study-plan-container { /* A grade que acomoda os planos de estudo da tela inicial */
        grid-template-columns: 1fr;        
    }
}