* {
    box-sizing: border-box;
}

.study-plan-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 40px;
}

.loading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    padding: 380px;
}