* {
    box-sizing: border-box;
}

.study-plan-container { /* A grade que acomoda os planos de estudo da tela inicial */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 515px));
    justify-content: center;
    grid-gap: 0px 60px;
}

.loading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    padding: 380px;
}