.register-container {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    align-items: center;
}

.circle {
    background-color: var(--secondary-color);
    height: 150vh;
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-wrapper {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle .arkiv-animated {
    max-height: 21rem;
    min-width: 7rem;
    margin: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: var(--gray-dark);
}

.reg-form {
    padding: 40px 50px;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 10px rgb(186, 186, 186);
}

.reg-form h1 {
    font-size: 1.5rem;
    color: var(--font-color);
}

.error-msg {
    color: rgb(255, 21, 21);
}

.success-msg {
    color: rgb(21, 255, 21);
}

.reg-form-item {
    height: 65px;
}

.reg-form-item input {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 4px var(--gray);
    padding: 20px 0px 20px 10px;
    font-size: 16px;
    margin-top: 5px;
}

input.senha-input {
    background-color: var(--bg-light);
    width: 90%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mostrar-senha-btn {
    background-color: var(--bg-light);
    width: 10%;
    height: 40px;
    margin-top: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    box-shadow: 0px 1px 4px var(--gray);
    cursor: pointer;
}

.reg-form button[type=submit] {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    border: 3px solid var(--secondary-color);
    border-radius: 999px;
    cursor: pointer;
    transition: 0.3s ease;
}

.reg-form button[type=submit]:hover {
    background-color: #ffffff;
}

.divide-hr {
    width: 100%;
}

.divide {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4%;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-icon {
    cursor: pointer;
}

.login-text {
    color: var(--gray-dark);
    text-align: center;
}

.swap-form-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
    cursor: pointer;
    font: inherit;
}

.swap-form-btn:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {

    .register-container {
        overflow: hidden;
        flex-direction: column;
        height: 100vh;
    }

    .circle-wrapper{
        margin: 30px;
    }

    .circle {
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }

    .arkiv-animated {
        height: 100px;
    }
    
    .form-container {
        width: 75%;
    }

    .reg-form {
        width: 100%;
        box-shadow: none;
        max-width: 600px;
        padding: 0px 50px;
    }
}

@media (max-width: 530px) {

    .circle {
        height: 100px;
        width: 100px;
    }

    .arkiv-animated {
        height: 65px;
    }

    .reg-form {
        gap: 12px;
        padding: 0px 30px;
    }

    .reg-form h1 {
        font-size: 1.2rem;
    }

    .form-container {
        width: 100%;
    }

    .divide {
        margin-top: 0px;
    }

    .google-icon {
        height: 40px;
    }
}