* {
    box-sizing: border-box;
}

header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    margin: 0 auto;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-section{
    display: flex;
    align-items: center;
}

#profile-pic {
    margin-left: 10px;
}

.left-section{
    display: flex;
    align-items: center;
}

.search-bar {
    float: right;
    position: relative;
    width: 500px;
    border-radius: 50px;
    margin-left: 10px;
}

.search-bar input {
    font-size: 1em;
    background-color: #ebebeb;
    border: 3px solid #ebebeb;
    border-radius: 50px;
    padding: 20px;
    height: 55px;
    width: 100%;
    transition: 0.3s ease;
}

.search-bar input:hover {
    background-color: #ffffff;
}

.search-bar img {
    position: absolute;
    right: 0;
    transform: translateX(-7.5px);
    top: 7.5px;
    height: 40px;
}