.recommended-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Garante que todos os planos na lista sejam do mesmo tamanho */
.recommended-list-wrapper .study-plan-wrapper {
    min-width: 50%;
    max-width: 50%;
    align-items: stretch;
}

.recommended-list-wrapper .study-plan-wrapper .description p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommended-list-container {
    display: flex;
    gap: 3rem;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    padding: 1rem;
}

.no-recommended-text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (min-width: 1800px) {

    .recommended-list-wrapper .study-plan-wrapper {
        min-width: 30%;
    }
}

@media (max-width: 860px) {

    .recommended-list-wrapper .study-plan-wrapper {
        min-width: 80%;
    }
}