.recommended-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Garante que todos os planos na lista sejam do mesmo tamanho */
.recommended-list-wrapper .study-plan-wrapper {
    max-width: 495px;
}

.recommended-list-container {
    display: flex;
    gap: 3rem;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    width: 90%;
    padding: 1rem;
}

.arrow-right, .arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    box-shadow: 0px 0px 10px rgb(167, 167, 167);
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
}
.arrow-right img, .arrow-left img {
    width: 40px;
}

.arrow-right img {
    transform: rotate(180deg);
}

.more-title {
    margin-left: 60px;
}

.no-recommended-text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {

    .recommended-list-container {
        width: 80%;
    }
    
    .more-title {
    margin-left: 65px;
}
}