#chapters-page-container {
    margin: 3.75rem 0rem;
}

.chapters-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 3.75rem;
}