.chapter-banner {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 1.25rem;
    box-shadow: 0px 1px 4px var(--gray);
}

.chapter-content-container {
    display: grid;
    grid-template-columns: 24px minmax(0px, 850px);
    align-items: center;
    justify-items: center;
    column-gap: 3rem;
    margin-bottom: 2.813rem;
    transition: var(--transition);
}

.chapter-content-header {
    margin-top: 1.875rem;
    margin-bottom: 2.063rem;
}

.chapter-content {
    margin: 0.938rem 0rem;
    width: 100%;
}

.first-content {
    margin-top: 0rem
}

.last-content {
    margin-bottom: 0rem;
}

.chapter-content-container.grid-item-timeline-hidden {
    grid-template-columns: 0px 1fr;
    column-gap: 0rem;
}

.hide-timeline-button{
    margin-bottom: 1.875rem;
}

.hide-timeline-button img{
    transform: rotate(180deg);
    transition: var(--transition);
}

.hide-timeline-button .hide-timeline-button-arrow-right {
    transform: rotate(0deg);
}

@media (max-width: 650px) {
    .chapter-content-container {
        column-gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    
    .chapter-content-container {
        column-gap: 1rem;
        grid-template-columns: 20px 1fr;
    }
}