
.create-study-plan {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 24px 64px;
}

.create-study-plan h1 {
    margin-bottom: 64px;
    font-size: 2rem;
}

.study-plan-form {
    max-width: 720px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.form-group label {
    margin-bottom: 8px;
}

/*Banner*/
.banner-upload {
    width: 100%;
    height: 330px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #e9e9e9;
    border-radius: 12px;
    overflow: hidden;
}

.banner-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.banner-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.add-banner-btn img {
    width: var(--icon-large);
}

.supported-formats {
    color: var(--gray-darker);
    margin-top: 8px;
}

.form-textarea-short {
    min-height: 90px;
}

.form-textarea-large {
    min-height: 180px;
}

.tag-input-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 300px;
}

.tags-dropdown {
    color: var(--font-color);
    background-color: var(--bg-light);
    box-shadow: 0px 1px 4px var(--gray);
    border: none;
    border-radius: 20px;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 40vh;
    min-width: 300px;
    transition: 0.3s ease;
    transform: translateY(-5%);

    position: absolute;
    top: 100%;
    z-index: 1;

    overflow-y: scroll;
    
    /* IE e Legacy Edge */
    -ms-overflow-style: none; 
    
    /* Firefox */
    scrollbar-width: none; 
}

/* Chrome, Safari, e Opera */
.tags-dropdown::-webkit-scrollbar {
  display: none; 
}

.tags-dropdown-item {
    padding: 0.9rem;
    margin: 0.1rem 0rem;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
}

.tags-dropdown-item:hover {
    background-color: var(--gray-light);
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 16px;
}

@keyframes tag-aparecendo {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.selected-tag {
    display: inline-flex;
    align-items: center;
    gap: 0.313rem;
    border-radius: 999px;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    animation: tag-aparecendo 0.3s ease-out;
}

.remove-tag {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;

    display: flex;
    align-items: center;
    gap: 0.313rem;

    padding: 0.55rem 0.75rem;

    width: auto;
    height: auto;

    color: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

.remove-tag img{
 width: var(--icon-small);
}

.remove-tag:focus,
.remove-tag:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    margin-top: 48px;
}

@media (max-width: 768px) {
    .create-study-plan {
        padding: 32px 16px 48px;
    }

    .create-study-plan h1 {
        margin-bottom: 40px;
    }

    .banner-upload {
        height: 220px;
    }

    .form-actions {
        justify-content: center;
    }
}
