/* Perfil */
.profile-container {
    background-color: white;
}

.cover {
    width: 100%;
    height: 250px;

    background-size: cover;
    background-position: center;

    position: relative;
}
.change-cover-image {
    position: absolute;
    right: 20px;
    bottom: 20px;

    border: none;
    border-radius: 8px;

    padding: 8px 14px;

    background: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);

    font-weight: 600;
    cursor: pointer;

    transition: var(--transition);
}

.change-cover-image:hover {
    background: white;
}

.profile-wrapper {
    padding-top: 30px;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img-and-info {
    display: flex;
    align-items: center;
}

.profile-img {
    height: 100px;
}

.profile-info {
    padding-left: 10px;
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    display: inline;
}

.profile-date {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    color: var(--gray-dark);
}

.profile-edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profile-edit-icon {
    width: 18px;
    height: 18px;
}

.profile-edit-btn:hover {
    background-color: var(--gray-light);
}

/* Abas */
.tabs-nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-bottom: 1px solid #ccc;
    margin-top: 16px;
}

.tab-btn {
    background: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.tab-btn:hover {
    color: var(--secondary-color);
}

.tab-btn.active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/* Conteúdo das Abas */

.hidden {
    display: none;
}

.message-empty-page {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.empty-plans {
    width: 100%;
    min-height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    text-align: center;
}

.profile-edit-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    max-width: 350px;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.change-profile-image {
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
}