* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0rem 18rem;
}

@media (max-width: 1400px) {

  .container {
    padding: 0rem 3rem;
  }
}

@media (max-width: 650px) {

  .container {
    padding: 0rem 1rem;
  }
}